<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0e03671e-641b-4ae6-a45f-17c4a4bc2470" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="appFlow" doc:id="be5a41bc-4e14-4edd-960a-18735c04b38e" >
		<http:listener doc:name="Listener" doc:id="b1b18779-7c72-43aa-9247-1eb53b7d73ae" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="6186d696-2e69-4421-840c-c1de27223fa7" message="start #[payload]"/>
		<ee:transform doc:name="input payload" doc:id="24643d9f-ba1f-463f-a8a2-acc8922988d5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
envelope:
{
	name: "Negussie",
	project: "mule project jenkins deploy demo",
	date: "12/23/2024"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="547b33de-649c-4603-ba1b-a3dd9dadd779" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5da56d1e-0c6a-4391-ae8a-c1a22f4ae11d" />
		<logger level="INFO" doc:name="Logger" doc:id="00c9461b-8cc3-4fd2-8824-2a8d16a40082" message="#[payload]"/>
	</flow>
</mule>
